@mixin container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;

  @include media(tablet) {
    max-width: 880px;
    padding: 0 20px;
  }

  @include media(tabletSmall) {
    padding: 0 15px;
  }
}

.container {
  @include container
}

.container-m {
  max-width: 1245px;
  padding: 0 25px;
  margin: 0 auto;
}

