.container {
  //max-width: 1595px;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;

  @include media(tabletSmall) {
    padding: 0 20px;
  }
}

.container-m {
  max-width: 1245px;
  padding: 0 25px;
  margin: 0 auto;
}

