.section {
  padding: 100px 0;

  @include media(mobile) {
    padding: 50px 0;
  }

  &__box {
    @include media(mobile, up) {
      margin-top: 80px;
      padding: 75px;
      border: 1px solid #759B84;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }

    @include media(mobile) {
      margin: 50px -20px 0;
      padding: 30px 20px;
      border-top: 1px solid $color-primary-red;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;

    @include media(mobile) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
