.section {
  padding: 50px 0;

  @include media(mobile) {
    padding: 30px 0;
  }

  &__box {
    @include media(tabletSmall, up) {
      margin-top: 30px;
      padding: 50px 70px;
      border: 1px solid #759B84;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }

    @include media(tablet) {
      padding: 30px 50px;
    }

    @include media(tabletSmall) {
      margin: 50px -20px 0;
      padding: 30px 20px;
      border-top: 1px solid $color-primary-red;
    }

    @include media(mobile) {
      margin: 20px -15px 0;
      padding: 30px 15px 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    @include media(tablet) {
      font-size: 23px;
      line-height: 1.1;
    }

    @include media(tabletSmall) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
