.footer-main {
  color: $color-white;
  background: $color-primary-red;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  @include media(tabletSmall) {;
    font-size: 14px;
    line-height: 19px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

    @include media(tabletSmall) {
      padding-top: 70px;
    }

    @include media(tabletSmall) {
      padding-top: 30px;
      display: block;
    }

    * + * {
      @include media(tabletSmall) {
        margin-top: 50px;
      }
    }
  }

  &__logo {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;

    @include media(tabletSmall) {;
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__menu {
    margin-top: 25px;

    @include media(tabletSmall) {
      margin-top: 15px;
    }
  }

  &__copyright {
    margin-bottom: 0;
    color: $color-white;

    &:not(:first-child) {
      margin-top: 30px;

      @include media(tabletSmall) {
        margin-top: 15px;
      }
    }

    a {
      transition: color 350ms ease;
      color: inherit;

      &:focus,
      &:hover {
        color: #fafafa;
      }
    }
  }

  a {
    font-size: inherit;
  }
}
