{{!Home}}

{{> layout/head page-title="Infinite Selection"}}
{{> blocks/header page="home" nav-menu=nav.header.home}}

<main class="page-content__main">
  {{>blocks/home-hero}}
  <div class="" style="min-height: 50vh">1 and some more text above</div>
  <div class="" style="min-height: 50vh">2</div>
  <div class="" style="min-height: 50vh">3</div>
  <div class="" style="min-height: 50vh">4</div>
</main>

{{> blocks/footer }}
{{> layout/bottom }}
