{{!Home}}

{{> layout/head page-title="ГлавОптика - Главная"}}
{{> blocks/header page="home" nav-menu=nav.header.home}}

<main class="page-content__main">
  {{>blocks/home-hero}}
  {{>blocks/home-about}}
  {{>blocks/home-benefits}}
  {{>blocks/home-products}}
  {{>blocks/home-usefully}}
  {{>blocks/home-offer}}
  {{>blocks/home-guarantee}}
</main>

{{> blocks/footer }}
{{> layout/bottom }}
