{{!Home}}

{{> layout/head page-title="ГлавОптика - Главная"}}
{{> blocks/header page="home" nav-menu=nav.header.home}}

<main class="page-content__main">
  {{>blocks/home-hero}}
  {{>blocks/home-about}}
  {{>blocks/home-benefits}}
  {{>blocks/home-products}}
  <div class="navigation-wrapper">
    <div id="my-keen-slider" class="keen-slider js-slider">
      <div class="keen-slider__slide">1</div>
      <div class="keen-slider__slide">2</div>
      <div class="keen-slider__slide">3</div>
      <div class="keen-slider__slide">4</div>
      <div class="keen-slider__slide">5</div>
      <div class="keen-slider__slide">6</div>
    </div>
    <svg
      id="arrow-left"
      class="arrow arrow--left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
      ></path>
    </svg>
    <svg
      id="arrow-right"
      class="arrow arrow--right"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
    </svg>
  </div>
  <div id="dots" class="dots"></div>
  </div>
  {{>blocks/home-usefully}}
  {{>blocks/home-offer}}
  {{>blocks/home-guarantee}}
</main>

{{> blocks/footer }}
{{> layout/bottom }}
