{{!Home}}

{{> layout/head page-title="ГлавОптика - Главная"}}
{{> blocks/header page="home" nav-menu=nav.header.home}}

<main class="page-content__main">
  {{>blocks/home-hero}}
  {{>blocks/home-about}}
  {{>blocks/home-benefits}}
  {{>blocks/home-slider}}
  {{>blocks/home-brands}}
  {{>blocks/home-products}}
  {{>blocks/home-offer}}
  {{>blocks/home-usefully}}
  {{>blocks/home-guarantee}}

  {{>widgets/fab}}

  {{>popups/contacts id="contacts"}}
  {{>popups/appointment id="appointment"}}
</main>

{{> blocks/footer }}
{{> layout/bottom }}
