{{#> popups/_base id=id}}
  <div class="popup-appointment">
    <h2 class="popup-appointment__title">Запланировать визит</h2>
    <div class="popup-appointment__content">
      <?php echo do_shortcode('[ssa_booking type=zapis-na-proverku-zreniya]'); ?>
    </div>
  </div>
{{/ popups/_base}}
