{{#> popups/_base id=id}}
  <div class="popup-contacts">
    <h2 class="popup-contacts__title">Контактная информация</h2>
    <div class="popup-contacts__content">
      <div class="popup-contacts__column">
        <p class="popup-contacts__item">
          Телефон:
          <span class="popup-contacts__item-text">
            <a href="tel:+79857434719">+7 (985) 743-47-19</a>
          </span>
        </p>
        <p class="popup-contacts__item">
          WhatsApp:
          <span class="popup-contacts__item-text">
            <a href="tel:+79857434719">+7 (985) 743-47-19</a>
          </span>
        </p>
        <p class="popup-contacts__item">
          Почта:
          <span class="popup-contacts__item-text">
            <a href="mailto:info@glavoptika.ru">info@glavoptika.ru</a>
          </span>
        </p>
        <p class="popup-contacts__item">
          Инстаграм:
          <span class="popup-contacts__item-text">
            <a href="https://instagram.com/glavoptika">glavoptika</a>
          </span>
        </p>
      </div>
      <div class="popup-contacts__column">
        <p class="popup-contacts__item">
          Адрес:
          <span class="popup-contacts__item-text">г.Москва, ул.Талдомская, 17к1</span>
        </p>
        <p class="popup-contacts__item">
          Режим работы:
          <span class="popup-contacts__item-text">10:00 - 20:00 без выходных</span>
        </p>
      </div>
    </div>
  </div>
{{/ popups/_base}}
