<div class="widget-fab js-fab">
  <button type="button" class="widget-fab__item action js-fab__item js-popup-open" data-popup="appointment">
    <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M21.3333 0.333313H2.66659C1.38325 0.333313 0.333252 1.27081 0.333252 2.41665V14.9166C0.333252 16.0625 1.38325 17 2.66659 17H21.3333C22.6166 17 23.6666 16.0625 23.6666 14.9166V2.41665C23.6666 1.27081 22.6166 0.333313 21.3333 0.333313ZM20.8666 4.7604L13.2366 9.02081C12.4783 9.4479 11.5216 9.4479 10.7633 9.02081L3.13325 4.7604C2.84159 4.59373 2.66659 4.31248 2.66659 4.0104C2.66659 3.31248 3.51825 2.89581 4.18325 3.2604L11.9999 7.62498L19.8166 3.2604C20.4816 2.89581 21.3333 3.31248 21.3333 4.0104C21.3333 4.31248 21.1583 4.59373 20.8666 4.7604Z"
        fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">Запись на прием</span>
  </button>
  <a href="https://instagram.com/glavoptika" class="widget-fab__item action js-fab__item" target="_blank">
    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.62288 0.333344C3.60309 0.333344 0.333252 3.38802 0.333252 7.1408V16.863C0.333252 20.6148 3.60612 23.6667 7.62695 23.6667H18.0436C22.0634 23.6667 25.3333 20.612 25.3333 16.8592V7.137C25.3333 3.38519 22.0604 0.333344 18.0396 0.333344H7.62288ZM20.1249 4.22223C20.6999 4.22223 21.1666 4.65779 21.1666 5.19445C21.1666 5.73112 20.6999 6.16668 20.1249 6.16668C19.5499 6.16668 19.0833 5.73112 19.0833 5.19445C19.0833 4.65779 19.5499 4.22223 20.1249 4.22223ZM12.8333 6.16668C16.2801 6.16668 19.0833 8.78293 19.0833 12C19.0833 15.2171 16.2801 17.8333 12.8333 17.8333C9.38638 17.8333 6.58325 15.2171 6.58325 12C6.58325 8.78293 9.38638 6.16668 12.8333 6.16668ZM12.8333 8.11112C11.7282 8.11112 10.6684 8.52084 9.88697 9.25015C9.10557 9.97946 8.66658 10.9686 8.66658 12C8.66658 13.0314 9.10557 14.0206 9.88697 14.7499C10.6684 15.4792 11.7282 15.8889 12.8333 15.8889C13.9383 15.8889 14.9981 15.4792 15.7795 14.7499C16.5609 14.0206 16.9999 13.0314 16.9999 12C16.9999 10.9686 16.5609 9.97946 15.7795 9.25015C14.9981 8.52084 13.9383 8.11112 12.8333 8.11112Z"
        fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">Instagram</span>
  </a>
  <a href="tel:" class="widget-fab__item action js-fab__item" target="_blank">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.3087 13.1726C10.6384 14.5041 12.2472 15.5321 14.0222 16.1843L16.4236 14.2981C16.4948 14.2497 16.5792 14.2238 16.6656 14.2238C16.7521 14.2238 16.8365 14.2497 16.9077 14.2981L21.3664 17.1338C21.5357 17.2342 21.679 17.3721 21.785 17.5367C21.8909 17.7012 21.9567 17.8878 21.9771 18.0817C21.9975 18.2756 21.9719 18.4716 21.9024 18.654C21.8329 18.8365 21.7214 19.0006 21.5766 19.1332L19.4874 21.1704C19.1882 21.4622 18.8204 21.6763 18.417 21.7937C18.0135 21.9111 17.5869 21.9281 17.1752 21.8431C13.0682 21.0058 9.28267 19.0449 6.25128 16.1843C3.28716 13.2954 1.23601 9.61942 0.346634 5.6024C0.258776 5.20228 0.277113 4.78655 0.399869 4.39549C0.522626 4.00443 0.745638 3.6513 1.04729 3.37032L3.21297 1.30801C3.34698 1.17206 3.51042 1.06781 3.69104 1.00305C3.87166 0.938285 4.06478 0.914699 4.25594 0.934053C4.4471 0.953406 4.63135 1.0152 4.79489 1.1148C4.95843 1.2144 5.09702 1.34924 5.20029 1.50921L8.16854 5.8539C8.21973 5.92212 8.24737 6.00478 8.24737 6.08968C8.24737 6.17459 8.21973 6.25724 8.16854 6.32547L6.21306 8.64557C6.8918 10.3627 7.94925 11.9091 9.3087 13.1726Z"
        fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">Позвонить</span>
  </a>
  <a
    href="https://api.whatsapp.com/send/?phone=79857434719&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%21+%D0%A5%D0%BE%D1%87%D1%83+%D1%81%D0%B4%D0%B5%D0%BB%D0%B0%D1%82%D1%8C+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7&app_absent=0"
    class="widget-fab__item action js-fab__item" target="_blank">
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.07659 0.510864C4.08322 0.510864 0.845947 3.74814 0.845947 7.74151V18.5875C0.845947 22.5808 4.08322 25.8181 8.07659 25.8181H18.9226C22.9159 25.8181 26.1532 22.5808 26.1532 18.5875V7.74151C26.1532 3.74813 22.9159 0.510864 18.9226 0.510864H8.07659ZM13.4973 4.44755H13.5017C18.308 4.44755 22.2165 8.35819 22.2165 13.1645C22.2165 17.9708 18.308 21.8814 13.5017 21.8814C11.7961 21.8851 10.1276 21.3839 8.7063 20.4409L5.35572 21.512L6.44207 18.2737C5.36079 16.7899 4.7796 15.0005 4.78258 13.1645C4.78258 8.3571 8.69104 4.44755 13.4973 4.44755ZM16.8632 17.9871C17.5289 17.8433 18.3636 17.3508 18.5739 16.757C18.7842 16.162 18.7842 15.6553 18.7231 15.5475C18.6739 15.4619 18.5574 15.4058 18.3834 15.322C18.3382 15.3002 18.289 15.2766 18.2361 15.25C17.98 15.1225 16.7346 14.5069 16.4992 14.4252C16.2682 14.338 16.0481 14.3685 15.8738 14.6148C15.8406 14.6612 15.8076 14.7077 15.7747 14.754C15.5643 15.0498 15.3614 15.3351 15.1928 15.517C15.0392 15.6804 14.7885 15.7011 14.5782 15.6139C14.5553 15.6044 14.529 15.5938 14.4996 15.5819C14.1666 15.4474 13.4281 15.1491 12.5341 14.3533C11.7801 13.6821 11.268 12.8463 11.1198 12.5957C10.9743 12.3443 11.0998 12.1969 11.2158 12.0606C11.2179 12.0581 11.2201 12.0556 11.2222 12.0531C11.297 11.9605 11.3696 11.8835 11.4425 11.8061C11.495 11.7504 11.5476 11.6945 11.6014 11.6325C11.6094 11.6233 11.6172 11.6143 11.6247 11.6056C11.739 11.4743 11.807 11.3961 11.8836 11.2326C11.9708 11.0637 11.9087 10.8894 11.8466 10.7608C11.8038 10.6707 11.5398 10.0302 11.3132 9.48036C11.2163 9.24512 11.1262 9.02648 11.0631 8.87466C10.8942 8.47042 10.7657 8.45516 10.5096 8.44427C10.5018 8.44387 10.4938 8.44347 10.4858 8.44307C10.4049 8.43897 10.3158 8.43446 10.2176 8.43446C9.88417 8.43446 9.53658 8.53252 9.32629 8.74718C9.31894 8.75468 9.31128 8.76248 9.30333 8.77056C9.03429 9.04418 8.43498 9.65368 8.43498 10.8687C8.43498 12.086 9.29872 13.2641 9.45854 13.4821C9.46294 13.4881 9.46681 13.4934 9.47012 13.4979C9.47973 13.5105 9.49786 13.5368 9.52424 13.575C9.85056 14.0476 11.44 16.3493 13.8101 17.3312C15.8128 18.1615 16.4077 18.0841 16.8632 17.9871Z"
            fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">WhatsApp</span>
  </a>
  <button type="button" class="widget-fab__item action js-fab__item js-popup-open" data-popup="contacts">
    <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10 0.666687C4.47143 0.666687 0 4.95362 0 10.2541C0 15.9654 6.31429 23.8408 8.91429 26.8403C9.48571 27.4977 10.5286 27.4977 11.1 26.8403C13.6857 23.8408 20 15.9654 20 10.2541C20 4.95362 15.5286 0.666687 10 0.666687ZM10 13.6782C8.02857 13.6782 6.42857 12.1442 6.42857 10.2541C6.42857 8.364 8.02857 6.83001 10 6.83001C11.9714 6.83001 13.5714 8.364 13.5714 10.2541C13.5714 12.1442 11.9714 13.6782 10 13.6782Z"
        fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">Контакты</span>
  </button>
  <button type="button" class="widget-fab__trigger trigger js-fab__trigger">
    <svg class="widget-fab__trigger-open" width="36" height="34" viewBox="0 0 36 34" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18 0C8.05846 0 0 6.698 0 14.96C0 19.5405 2.48307 23.6347 6.38492 26.3792C6.48454 28.4682 6.155 31.3526 3.22085 32.6825C3.21905 32.6834 3.21724 32.6843 3.21544 32.6852C3.08435 32.7341 2.9715 32.821 2.89181 32.9344C2.81213 33.0478 2.76938 33.1822 2.76923 33.32C2.76923 33.5004 2.84217 33.6733 2.972 33.8008C3.10184 33.9284 3.27793 34 3.46154 34C3.47807 34 3.49371 33.9974 3.51022 33.9973C3.51382 33.9974 3.51743 33.9974 3.52103 33.9973C6.89122 33.9761 9.75222 32.1872 11.726 30.2972C12.3518 29.6974 13.2243 29.4023 14.0841 29.5614C15.3441 29.7967 16.6542 29.92 18 29.92C27.9415 29.92 36 23.222 36 14.96C36 6.698 27.9415 0 18 0Z"
        fill="#D59A8A"/>
    </svg>
    <svg class="widget-fab__trigger-close" width="19" height="19" viewBox="0 0 19 19" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11.4479 9.83235L18.6614 2.62951C18.877 2.41388 18.9981 2.12142 18.9981 1.81647C18.9981 1.51152 18.877 1.21906 18.6614 1.00343C18.4458 0.787797 18.1534 0.666656 17.8484 0.666656C17.5435 0.666656 17.2511 0.787797 17.0355 1.00343L9.83342 8.21772L2.63134 1.00343C2.41573 0.787797 2.12331 0.666657 1.81839 0.666657C1.51347 0.666657 1.22105 0.787797 1.00544 1.00343C0.78983 1.21906 0.668702 1.51152 0.668702 1.81647C0.668702 2.12142 0.78983 2.41388 1.00544 2.62951L8.21896 9.83235L1.00544 17.0352C0.898119 17.1416 0.812937 17.2683 0.754807 17.4078C0.696677 17.5474 0.666748 17.6971 0.666748 17.8482C0.666748 17.9994 0.696677 18.1491 0.754807 18.2886C0.812937 18.4282 0.898119 18.5548 1.00544 18.6613C1.11188 18.7686 1.23852 18.8538 1.37805 18.9119C1.51758 18.9701 1.66724 19 1.81839 19C1.96954 19 2.1192 18.9701 2.25873 18.9119C2.39826 18.8538 2.5249 18.7686 2.63134 18.6613L9.83342 11.447L17.0355 18.6613C17.1419 18.7686 17.2686 18.8538 17.4081 18.9119C17.5476 18.9701 17.6973 19 17.8484 19C17.9996 19 18.1493 18.9701 18.2888 18.9119C18.4283 18.8538 18.5549 18.7686 18.6614 18.6613C18.7687 18.5548 18.8539 18.4282 18.912 18.2886C18.9702 18.1491 19.0001 17.9994 19.0001 17.8482C19.0001 17.6971 18.9702 17.5474 18.912 17.4078C18.8539 17.2683 18.7687 17.1416 18.6614 17.0352L11.4479 9.83235Z"
        fill="#D59A8A"/>
    </svg>
  </button>
</div>
