<div class="widget-fab js-fab">
  <button type="button" class="widget-fab__item action js-fab__item js-popup-open" data-popup="appointment">
    <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.3333 0.333313H2.66659C1.38325 0.333313 0.333252 1.27081 0.333252 2.41665V14.9166C0.333252 16.0625 1.38325 17 2.66659 17H21.3333C22.6166 17 23.6666 16.0625 23.6666 14.9166V2.41665C23.6666 1.27081 22.6166 0.333313 21.3333 0.333313ZM20.8666 4.7604L13.2366 9.02081C12.4783 9.4479 11.5216 9.4479 10.7633 9.02081L3.13325 4.7604C2.84159 4.59373 2.66659 4.31248 2.66659 4.0104C2.66659 3.31248 3.51825 2.89581 4.18325 3.2604L11.9999 7.62498L19.8166 3.2604C20.4816 2.89581 21.3333 3.31248 21.3333 4.0104C21.3333 4.31248 21.1583 4.59373 20.8666 4.7604Z" fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">Запись на прием</span>
  </button>
  <a href="https://instagram.com/glavoptika" class="widget-fab__item action js-fab__item" target="_blank">
    <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.8364 0H12.8301C5.93795 0 0.333268 5.60624 0.333268 12.5C0.328989 15.1328 1.16241 17.6987 2.71295 19.8265L1.15514 24.4703L5.95983 22.9343C7.9979 24.2865 10.3906 25.0052 12.8364 25C19.7286 25 25.3333 19.3922 25.3333 12.5C25.3333 5.60781 19.7286 0 12.8364 0ZM20.1098 17.6515C19.8083 18.5031 18.6114 19.2094 17.6567 19.4156C17.0036 19.5547 16.1504 19.6656 13.2786 18.475C9.60514 16.9531 7.23951 13.2203 7.05514 12.9781C6.87858 12.7359 5.57076 11.0015 5.57076 9.2078C5.57076 7.41405 6.4817 6.54062 6.84889 6.16562C7.15045 5.85781 7.64889 5.71718 8.12701 5.71718C8.2817 5.71718 8.42076 5.72499 8.54576 5.73124C8.91295 5.74687 9.09732 5.76874 9.33951 6.34843C9.64107 7.07499 10.3754 8.86874 10.4629 9.05311C10.552 9.23749 10.6411 9.48749 10.5161 9.72968C10.3989 9.97968 10.2958 10.0906 10.1114 10.3031C9.92701 10.5156 9.75201 10.6781 9.56764 10.9062C9.39889 11.1047 9.20826 11.3172 9.42076 11.6844C9.63326 12.0437 10.3676 13.2422 11.4489 14.2047C12.8442 15.4469 13.9754 15.8437 14.3801 16.0125C14.6817 16.1375 15.0411 16.1078 15.2614 15.8734C15.5411 15.5719 15.8864 15.0719 16.2379 14.5797C16.4879 14.2265 16.8036 14.1828 17.1348 14.3078C17.4723 14.425 19.2583 15.3078 19.6254 15.4906C19.9926 15.675 20.2348 15.7625 20.3239 15.9172C20.4114 16.0719 20.4114 16.7984 20.1098 17.6515Z" fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">Instagram</span>
  </a>
  <a href="#" class="widget-fab__item action js-fab__item" target="_blank">
    <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.62288 0.333344C3.60309 0.333344 0.333252 3.38802 0.333252 7.1408V16.863C0.333252 20.6148 3.60612 23.6667 7.62695 23.6667H18.0436C22.0634 23.6667 25.3333 20.612 25.3333 16.8592V7.137C25.3333 3.38519 22.0604 0.333344 18.0396 0.333344H7.62288ZM20.1249 4.22223C20.6999 4.22223 21.1666 4.65779 21.1666 5.19445C21.1666 5.73112 20.6999 6.16668 20.1249 6.16668C19.5499 6.16668 19.0833 5.73112 19.0833 5.19445C19.0833 4.65779 19.5499 4.22223 20.1249 4.22223ZM12.8333 6.16668C16.2801 6.16668 19.0833 8.78293 19.0833 12C19.0833 15.2171 16.2801 17.8333 12.8333 17.8333C9.38638 17.8333 6.58325 15.2171 6.58325 12C6.58325 8.78293 9.38638 6.16668 12.8333 6.16668ZM12.8333 8.11112C11.7282 8.11112 10.6684 8.52084 9.88697 9.25015C9.10557 9.97946 8.66658 10.9686 8.66658 12C8.66658 13.0314 9.10557 14.0206 9.88697 14.7499C10.6684 15.4792 11.7282 15.8889 12.8333 15.8889C13.9383 15.8889 14.9981 15.4792 15.7795 14.7499C16.5609 14.0206 16.9999 13.0314 16.9999 12C16.9999 10.9686 16.5609 9.97946 15.7795 9.25015C14.9981 8.52084 13.9383 8.11112 12.8333 8.11112Z" fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">WhatsApp</span>
  </a>
  <button type="button" class="widget-fab__item action js-fab__item js-popup-open" data-popup="contacts">
    <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 0.666687C4.47143 0.666687 0 4.95362 0 10.2541C0 15.9654 6.31429 23.8408 8.91429 26.8403C9.48571 27.4977 10.5286 27.4977 11.1 26.8403C13.6857 23.8408 20 15.9654 20 10.2541C20 4.95362 15.5286 0.666687 10 0.666687ZM10 13.6782C8.02857 13.6782 6.42857 12.1442 6.42857 10.2541C6.42857 8.364 8.02857 6.83001 10 6.83001C11.9714 6.83001 13.5714 8.364 13.5714 10.2541C13.5714 12.1442 11.9714 13.6782 10 13.6782Z" fill="#D59A8A"/>
    </svg>
    <span class="widget-fab__tooltip">Контакты</span>
  </button>
  <button type="button" class="widget-fab__trigger trigger js-fab__trigger">
    <svg class="widget-fab__trigger-open" width="36" height="34" viewBox="0 0 36 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 0C8.05846 0 0 6.698 0 14.96C0 19.5405 2.48307 23.6347 6.38492 26.3792C6.48454 28.4682 6.155 31.3526 3.22085 32.6825C3.21905 32.6834 3.21724 32.6843 3.21544 32.6852C3.08435 32.7341 2.9715 32.821 2.89181 32.9344C2.81213 33.0478 2.76938 33.1822 2.76923 33.32C2.76923 33.5004 2.84217 33.6733 2.972 33.8008C3.10184 33.9284 3.27793 34 3.46154 34C3.47807 34 3.49371 33.9974 3.51022 33.9973C3.51382 33.9974 3.51743 33.9974 3.52103 33.9973C6.89122 33.9761 9.75222 32.1872 11.726 30.2972C12.3518 29.6974 13.2243 29.4023 14.0841 29.5614C15.3441 29.7967 16.6542 29.92 18 29.92C27.9415 29.92 36 23.222 36 14.96C36 6.698 27.9415 0 18 0Z" fill="#D59A8A"/>
    </svg>
    <svg class="widget-fab__trigger-close" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.4479 9.83235L18.6614 2.62951C18.877 2.41388 18.9981 2.12142 18.9981 1.81647C18.9981 1.51152 18.877 1.21906 18.6614 1.00343C18.4458 0.787797 18.1534 0.666656 17.8484 0.666656C17.5435 0.666656 17.2511 0.787797 17.0355 1.00343L9.83342 8.21772L2.63134 1.00343C2.41573 0.787797 2.12331 0.666657 1.81839 0.666657C1.51347 0.666657 1.22105 0.787797 1.00544 1.00343C0.78983 1.21906 0.668702 1.51152 0.668702 1.81647C0.668702 2.12142 0.78983 2.41388 1.00544 2.62951L8.21896 9.83235L1.00544 17.0352C0.898119 17.1416 0.812937 17.2683 0.754807 17.4078C0.696677 17.5474 0.666748 17.6971 0.666748 17.8482C0.666748 17.9994 0.696677 18.1491 0.754807 18.2886C0.812937 18.4282 0.898119 18.5548 1.00544 18.6613C1.11188 18.7686 1.23852 18.8538 1.37805 18.9119C1.51758 18.9701 1.66724 19 1.81839 19C1.96954 19 2.1192 18.9701 2.25873 18.9119C2.39826 18.8538 2.5249 18.7686 2.63134 18.6613L9.83342 11.447L17.0355 18.6613C17.1419 18.7686 17.2686 18.8538 17.4081 18.9119C17.5476 18.9701 17.6973 19 17.8484 19C17.9996 19 18.1493 18.9701 18.2888 18.9119C18.4283 18.8538 18.5549 18.7686 18.6614 18.6613C18.7687 18.5548 18.8539 18.4282 18.912 18.2886C18.9702 18.1491 19.0001 17.9994 19.0001 17.8482C19.0001 17.6971 18.9702 17.5474 18.912 17.4078C18.8539 17.2683 18.7687 17.1416 18.6614 17.0352L11.4479 9.83235Z" fill="#D59A8A"/>
    </svg>
  </button>
</div>
