<footer class="page-content__footer footer-main">
  <div class="footer-main__container container">
    <div class="footer-main__item">
      <div class="footer-main__logo">
        ГлавОптика 2021.
      </div>
      <div class="footer-main__menu">
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Политика конфиденциальности</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-main__item">
      <p class="footer-main__copyright">
        Проектирование и дизайн:
      </p>
      <p class="footer-main__copyright">
        Разработка и интеграция:
      </p>
    </div>
  </div>
</footer>
