<section class="home-products section" id="eyeglass">
  <div class="container">
    <h2 class="section__title">О линзах</h2>
  </div>
  <div class="home-usefully__content">
    <div class="tabs-products js-tabs">
      <div class="tabs-products__controls">
        <div class="tabs-products__controls-rails">
          <button class="tabs-products__control js-tabs__control active" data-target=".tab-1">Линзы для очков</button>
          <button class="tabs-products__control js-tabs__control" data-target=".tab-2">Контактные линзы</button>
        </div>
      </div>
      <div class="tabs-products__contents">
        <div class="js-tabs__content tab-1 active">
          <div class="tabs-products__content js-sidebar">
            <div class="tabs-products__content-container">
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Материалы</h3>
                <div class="tabs-products__section-container tabs-products__section-container--2-columns">
                  <div class="static">
                    <h4>Минеральные <br> очковые линзы</h4>
                    <p><b>Преимущество минеральных линз:</b></p>
                    <ul>
                      <li>Высокая устойчивость к механическим абразивным воздействиям, приводящим к образованию царапин.
                      </li>
                    </ul>
                    <p><b>Недостатки минеральных линз:</b></p>
                    <ul>
                      <li>
                        Меньшая ударопрочность по сравнению с полимерными линзами и, как следствие, более низкая степень
                        травмобезопасности (поэтому минеральные линзы не рекомендуется использовать для изготовления
                        детских
                        и
                        спортивных очков)
                      </li>
                      <li>
                        Больший вес по сравнению с полимерными линзами (примерно в 2 раза)
                      </li>
                      <li>
                        Невозможность их использовать в оправах на леске и безободковых.
                      </li>
                    </ul>
                  </div>
                  <div class="static">
                    <h4>Полимерные <br> очковые линзы</h4>
                    <p><b>Преимущества полимерных линз:</b></p>
                    <ul>
                      <li>
                        Высокая ударопрочность и, следовательно, высокая степень травмобезопасности
                      </li>
                      <li>
                        Меньший вес по сравнению с минеральными линзами (примерно в 2 раза)
                      </li>
                      <li>
                        Хорошая окрашиваемость в любой цвет и оттенок
                      </li>
                      <li>
                        Возможность нанесение широкого спектра многослойных покрытий, придающих линзам дополнительные
                        свойства
                      </li>
                    </ul>
                    <p><b>Недостаток полимерных линз:</b></p>
                    <ul>
                      <li>
                        Необходимость нанесение упрочняющего покрытия для повышения устойчивости к абразивному
                        механическому
                        воздействию, приводящему к царапинам.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Дизайн</h3>
                <div class="tabs-products__section-container">
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/d-1.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">Сферическая линза</div>
                      <div class=" card-img__text static">
                        <p>
                          Это классическая форма, в данном дизайне обе поверхности линзы имеют сферическую форму,
                          Выпуклые
                          линзы используются для положительных значений, вогнутые для отрицательных.
                        </p>
                        <p>МИНУСЫ: искажения при высоких значениях диоптрий, толщина.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/d-2.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">Асферическая линза</div>
                      <div class=" card-img__text static">
                        <p>
                          Асферические линзы более плоские и тонкие за счет того, что у них хотя бы одна сторона
                          отклоняется от формы сферы.
                        </p>
                        <p>
                          ПЛЮСЫ: Асферические линзы будут тоньше и легче, а также они не будут визуально изменять размер
                          ваших глаз и устранять искажения, которые приводят к размытию и изменению ощущения
                          размеров/расстояния предметов.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Количество оптических зон</h3>
                <div class="tabs-products__section-container">
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/z-1.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">Монофокальные</div>
                      <div class=" card-img__text static">
                        <p>Линзы имеют одну оптическую зону коррекции. В очках с такими линзами можно корректировать
                          близорукость или дальнозоркость.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/z-2.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">Бифокальные</div>
                      <div class=" card-img__text static">
                        <p>
                          Линзы корректируют зрение на двух расстояниях, они предназначены для коррекции пресбиопии.
                          Бифокалы имеют две оптических зоны и резкий переход. Такие линзы способны заменить две пары
                          очков
                          - для близи и для дали. Важно заметить, что использование таких очков может вызывать
                          дискомфорт
                          при переходе с одной оптической зоны на другую.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/z-3.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">Прогрессивные</div>
                      <div class=" card-img__text static">
                        <p>
                          Прогрессивные очки – комфортное и современное решение для людей с пресбиопией, которое избавит
                          от
                          необходимости использования нескольких пар очков. Прогрессивные линзы обеспечивают четкое
                          зрение
                          на всех расстояниях, за счет различной оптической силы на разных участках линзы. Прогрессивные
                          линзы имеют плавное увеличение оптической силы от верхней зоны, обеспечивающей зрение на
                          дальних
                          дистанциях, к нижней части линзы, которая предназначена для зрения на близких расстояниях.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Утончение</h3>
                <div class="tabs-products__section-container">
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/u-1.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">Утончение</div>
                      <div class=" card-img__text static">
                        <p>
                          Прогрессивные очки – комфортное и современное решение для людей с пресбиопией, которое избавит
                          от
                          необходимости использования нескольких пар очков. Прогрессивные линзы обеспечивают четкое
                          зрение
                          на всех расстояниях, за счет различной оптической силы на разных участках линзы. Прогрессивные
                          линзы имеют плавное увеличение оптической силы от верхней зоны, обеспечивающей зрение на
                          дальних
                          дистанциях, к нижней части линзы, которая предназначена для зрения на близких расстояниях.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Дополнительные свойства</h3>
                <div class="tabs-products__section-container">
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/a-1.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">БЛЮ-БЛОКЕРЫ</div>
                      <div class=" card-img__text static">
                        <p>
                          Синий свет — это самый коротковолновый диапазон видимого излучения
                          с длиной волны 380-500 нм, который имеет наиболее высокую энергию. Название «синий свет», в
                          сущности, является упрощенным, поскольку оно охватывает световые волны начиная от фиолетового
                          диапазона (от 380
                          до 420 нм) и до собственно синего (от 420 до 500 нм). Очки, получившие название блю-блокеры
                          (Blue-bloker), появились в 1980-е годы, когда результаты вредного воздействия излучения синего
                          диапазона видимого спектра еще не были так очевидны. Помимо защиты глаз блю-блокеры
                          значительно улучшают контрастность изображения. Очки отфильтровывают синий свет, в результате
                          чего исчезает хроматическая аберрация света
                          на сетчатке, что увеличивает и разрешающую способность глаза.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/a-2.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">СУМЕРЕЧНОЕ И НОЧНОЕ ВОЖДЕНИЕ</div>
                      <div class=" card-img__text static">
                        <p>
                          В линзах учтен спектральный состав света, к которому глаз наиболее чувствителен в темное время
                          суток. Линзы помогают более четко видеть контуры предметов, свести к минимуму отражения от
                          источников света без ущерба для светопропускания в дневное время.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/a-3.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">ФОТОХРОМНЫЕ</div>
                      <div class=" card-img__text static">
                        <p>
                          Это линзы, которые не только корригируют зрение, но и изменяют степень своего затемнения в
                          зависимости от интенсивности солнечного света. Очки с фотохромными линзами называют также
                          «хамелеонами». Фотохромные линзы в помещении прозрачные, как обычные линзы для очков, а на
                          улице под яркими солнечными лучами они быстро темнеют. Фотохромные очки
                          на улице защищают глаза от избыточного солнечного света так же, как солнцезащитные очки. Если
                          с улицы зайти в помещение, то фотохромные линзы вновь быстро становятся бесцветными.
                          Фотохромные линзы в помещении практически не отличаются от обычных бесцветных очков,
                          используемых для устранения рефракционных дефектов зрения.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/a-4.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">ОКРАШЕННЫЕ</div>
                      <div class=" card-img__text static">
                        <p>
                          Есть два вида окрашивания — полное и градиентное. Полное (маска) — однотонное окрашивание по
                          всей поверхности линзы. Градиентная окраска — плавный переход от более интенсивной окраски к
                          0. В настоящий момент успешно применяются два способа изготовления тонированных линз. Первый —
                          это добавление краски в материал, из которых их производят.
                          Так получают окраску в «массе». Второй способ — это погружение прозрачных линз в раствор
                          краски на определенное время для получения желаемого оттенка.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-img">
                    <div class="card-img__img">
                      <img src="../assets/images/home/products/a-5.jpg" alt="">
                    </div>
                    <div class="card-img__content">
                      <div class="card-img__title">ПОЛИРИЗОВАННЫЕ</div>
                      <div class=" card-img__text static">
                        <p>
                          Поляризованный свет или в простонародье "солнечный зайчик", такими терминами называют яркий
                          отблеск от таких поверхностей как водная гладь, ветровые стекла встречных машин или снег. В
                          любом проявлении такой свет является стрессом для человеческого глаза. К поляризованному свету
                          человеческий глаз адаптироваться не может, как следствие напряжения глаза утомляются очень
                          быстро и к тому же снижается контрастность и острота зрения.
                        </p>
                        <ul>
                          <li>
                            Устраняют интенсивные и режущие блики
                          </li>
                          <li>
                            Снижают напряжение глаз и дают ощущение комфорта при длительном нахождении на ярком свете
                          </li>
                          <li>
                            Представляют 100% защиту от вредных УФ-излучений
                          </li>
                          <li>
                            Предотвращают ослепление при резкой смене окружающей освещенности
                          </li>
                          <li>
                            Повышают качество и остроту зрения
                          </li>
                          <li>
                            Сохраняют цветовое восприятие и четкость изображения
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs-products__content-nav">
              <div class="js-inner-sidebar js-sidebar__nav"></div>
            </div>
          </div>
        </div>
        <div class="js-tabs__content tab-2">
          <div class="tabs-products__content js-sidebar">
            <div class="tabs-products__content-container">
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Какие данные нужны <br> для приобретения?</h3>
                <div class="tabs-products__section-container">
                  <div class="static">
                    <p>
                      (диоптрии, базовая кривизна, радиус) - РЕЦЕПТ <br> ОТЛИЧАЕТСЯ ОТ РЕЦЕПТА НА ОЧКИ – картинка <br> с
                      параметрами на упаковке
                    </p>
                  </div>
                </div>
              </div>
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Противопоказания <br> к ношению МКЛ</h3>
                <div class="tabs-products__section-container">
                  <div class="static">
                    <ul>
                      <li> Воспалительные заболевания глаз</li>
                      <li> Аллергические реакции на мкл</li>
                      <li> Психические болезни</li>
                      <li> Хроническая астма, туберкулез</li>
                      <li> СПИД, ВИЧ</li>
                      <li> ОРЗ, ОРВИ</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Правила ухода <br> и хранения</h3>
                <div class="tabs-products__section-container">
                  <div class="static">
                    <ul>
                      <li>
                        Следует строго выполнять рекомендации по уходу за линзами, данные вашим врачом-офтальмологом
                      </li>
                      <li>
                        Не забывайте чистить линзы после каждого использования
                      </li>
                      <li>
                        Чтобы не путать линзы правую с левой (так как они могут быть разной диоптрии) в руки всегда берите только одну линзу. Основная масса людей чаще начинают с правой линзы
                      </li>
                      <li>
                        Контейнер для линз тоже требует специального ежедневного ухода. После извлечения из него линзы необходимо вылить оставшийся раствор и высушить контейнер. Поэтому рекомендуется иметь в обиходе два или даже три контейнера, чтобы обеспечивать им естественную сушку
                      </li>
                      <li>
                        Не стоит заменять специальный универсальный раствор для очистки, дезинфекции и хранения контактных линз на простой физиологический раствор, так как он лишен дезинфицирующих свойств.
                      </li>
                      <li>
                        Всегда следите за состоянием самой линзы. Любое, даже незначительное повреждение, требует немедленной замены. Используйте контактные линзы только в указанные сроки, перенашивать линзы опасно для здоровья ваших глаз
                      </li>
                      <li>
                        Препараты по уходу за контактными линзами не должны быть с истекшим сроком годности.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tabs-products__section js-sidebar-block js-sidebar__section">
                <h3 class="tabs-products__section-title">Какие выбрать?</h3>
                <div class="tabs-products__section-container">
                  <div class="static">
                   <p><b>По сроку</b></p>
                    <ul>
                      <li>
                        Однодневные контактные линзы носят только в течение дня, на ночь их снимают и выбрасывают. Однодневные контактные линзы обеспечивают самый здоровый и безопасный режим ношения контактных линз
                      </li>
                      <li>
                        Контактные линзы плановой замены носят более длительный срок: от 2 недель до 3 месяцев. Наиболее распространенный режим ношения — замена через 1 месяц.
                      </li>
                      <li>
                        Традиционные контактные линзы носят без замены полгода или год. Этот режим ношения сейчас практически исключен из мировой практики (кроме жестких контактных линз), так как в течение такого длительного срока ношения на контактной линзе накапливаются различные отложения, ухудшаются комфорт ношения, качество зрения и увеличивается риск инфицирования глаз.
                      </li>
                    </ul>

                    <p><b>По материалу</b></p>
                    <ul>
                      <li>
                        Гидрогелевые : обладают хорошей смачиваемостью, но не решают проблему достаточного поступления кислорода к роговице. Транспорт кислорода осуществляется только за счет воды, которой содержится много от 38% до 78%. Так же, чем больше влаги, тем ниже показатель преломления. Линзы с таким покрытием имеют большую толщину, чем линзы другого материала.
                      </li>
                      <li>
                        Силикон-гидрогелевые: они содержат меньше воды (24-50%), обладают высокой кислород проницаемостью, т.к транспорт кислорода осуществляется не за счет воды, а за счет силикона. Такие линзы обладают хорошими оптическими свойствами
                      </li>
                      <li>
                        HyperGel: новый гидрогелевый материал, обеспечивающий достаточное поступление кислорода, без включения силикона, благодаря включению в состав специальных поверхностно-активных веществ
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs-products__content-nav">
              <div class="js-inner-sidebar js-sidebar__nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
