<section class="home-benefits section bg-gray">
  <div class="container">
    <h2 class="section__title">Почему мы?</h2>
    <div class="home-benefits__content">
      <ul class="benefits-grid">
        <li class="benefits-grid__item">
          <div class="benefits-grid__icon">
            <img src="../assets/images/home/benefits/b-1.svg" alt="Icon">
          </div>
          <h3 class="benefits-grid__title">Партнеры</h3>
          <div class="benefits-grid__text">
            Прямые контракты с ведущими мировыми производителями очковых и контактных линз, медицинских оправ и солнцезащитных очков
          </div>
        </li>
        <li class="benefits-grid__item">
          <div class="benefits-grid__icon">
            <img src="../assets/images/home/benefits/b-2.svg" alt="Icon">
          </div>
          <h3 class="benefits-grid__title">Персонал</h3>
          <div class="benefits-grid__text">
            Все сотрудники имеют медицинское образование в области оптометрии и опыт в этой сфере, что крайне важно
          </div>
        </li>
        <li class="benefits-grid__item">
          <div class="benefits-grid__icon">
            <img src="../assets/images/home/benefits/b-3.svg" alt="Icon">
          </div>
          <h3 class="benefits-grid__title">Оборудование</h3>
          <div class="benefits-grid__text">
            Вы получите качественную диагностику, ведь салон ГлавОптика оснащен новейшим оборудованием.
            Современное оборудование для изготовления очков для любого клиента под его индивидуальность
          </div>
        </li>
        <li class="benefits-grid__item">
          <div class="benefits-grid__icon">
            <img src="../assets/images/home/benefits/b-4.svg" alt="Icon">
          </div>
          <h3 class="benefits-grid__title">Гарантия</h3>
          <div class="benefits-grid__text">
            Вы можете быть уверены в качестве нашего товара. Ведь мы даем гарантию и постгарантийное бесплатное обслуживание.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
