<div class="navigation-wrapper" id="discounts">
  <div class="keen-slider js-slider">
    <div class="keen-slider__slide home-slide">
      <div class="home-slide__bg">
        <img src="../assets/images/home/slider/01.jpg" alt="Слайд">
      </div>
      <div class="home-slide__container">
        <div class="home-slide__content">
          <h3 class="home-slide__title">
            <span>Скидка <br> -50%</span>
            на все коллекции солнцезащитных очков
          </h3>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide home-slide">
      <div class="home-slide__bg">
        <img src="../assets/images/home/slider/02.jpg" alt="Слайд">
      </div>
      <div class="home-slide__container">
        <div class="home-slide__content">
          <h3 class="home-slide__title">
            <span>Скидка <br> -20%</span>
            на офисные и прогрессивные&nbsp;линзы
          </h3>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide home-slide">
      <div class="home-slide__bg">
        <img src="../assets/images/home/slider/03.jpg" alt="Слайд">
      </div>
      <div class="home-slide__container">
        <div class="home-slide__content">
          <h3 class="home-slide__title">
            <span>Скидка <br> -50%</span>
            на французские очковые линзы BBGR в мультипокрытии Neva&nbsp;Max
          </h3>
          <ul>
            <li>для повседневной защиты</li>
            <li>для отличного зрения при вождении ночью и в сумерки</li>
            <li>для легкости при работе с цифровыми устройствами</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide home-slide">
      <div class="home-slide__bg">
        <img src="../assets/images/home/slider/04.jpg" alt="Слайд">
      </div>
      <div class="home-slide__container">
        <div class="home-slide__content">
          <h3 class="home-slide__title">
            <span>Диагностика <br> зрения <br> в&nbsp;подарок</span>
            на очки и контактные линзы
          </h3>
        </div>
      </div>
    </div>
  </div>
  <button id="arrow-left" class="arrow arrow--left">
    <svg width="23" height="41" viewBox="0 0 23 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="21.7988" y1="40.1839" x2="1.99976" y2="20.3849" stroke="white" stroke-width="2"/>
      <line x1="1.29289" y1="21.092" x2="21.0919" y2="1.29298" stroke="white" stroke-width="2"/>
    </svg>
  </button>
  <button id="arrow-right" class="arrow arrow--right">
    <svg width="22" height="41" viewBox="0 0 22 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.707107" y1="1.29289" x2="20.5061" y2="21.0919" stroke="white" stroke-width="2"/>
      <line x1="21.213" y1="20.3848" x2="1.41397" y2="40.1838" stroke="white" stroke-width="2"/>
    </svg>
  </button>
  <div id="dots" class="dots"></div>
</div>
