<section class="home-offer section">
  <div class="container">
    <h2 class="section__title">ОФТАЛЬМОЛОГИЧЕСКИЕ УСЛУГИ</h2>

    <div class="section__box">
      <div class="container-m">
        <h3 class="h2">ОФТАЛЬМОЛОГИЧЕСКИЕ УСЛУГИ</h3>
        <p>Диагностику зрения может пройти любой желающий в возрасте от 18лет</p>
        <div class="home-offer__columns">
          <div class="home-offer__columns-item">
            <h4 class="h3">Этапы</h4>
            <ol class="home-offer__list">
              <li>Оценка используемой коррекции</li>
              <li>Анамнез и сбор жалоб</li>
              <li>Выявление мышечного баланса глаз</li>
              <li>Исследование на специальном оборудование авторефрактометре – который показывает физиологические данные</li>
              <li>
                Подбор оптики с проверкой остроты зрения и специальных тестов, позволяющих выявить характер зрения, состояние функции аккомодации и конвергенции
              </li>
            </ol>
          </div>
          <div class="home-offer__columns-item">
            <h4 class="h3">Что вы получаете:</h4>
            <ul class="home-offer__list">
              <li>Рецепт на очки/контактные линзы – бланк, в котором содержится вся информация о вашем зрении</li>
              <li>Назначение вида очковых линз и дополнительных покрытиях</li>
              <li>Рекомендацию дизайна очковых линз</li>
              <li>Рекомендацию по виду оптимально подходящих вам контактных линз</li>
              <li>Рекомендацию по профилактике сохранения зрения</li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="home-offer__line"/>

      <div class="home-offer__content-bottom container-m">
        <div class="home-offer__text home-offer__text--fluid">
          <p>
            Ультразвуковая чистка очков — это высокотехнологичная процедура, которая позволяет очистить оправу от видимых и
            невидимых глазу загрязнений.
          </p>
          <p>Со временем любые очки подвергаются различного рода загрязнениям. Сигаретный дым, пыль, капли дождя, — всё это
            остается на очках. К тому же очки постоянно соприкасаются с кожей лица.
          </p>
          <p>В основном грязь скапливается на носовых упорах и в местах, где линза соединяется с оправой. В результате на
            очках могут появляться не только видимые загрязнения, но и огромное количество болезнетворных микробов.
          </p>
          <p>Во время процедуры вычищаются даже малейшие загрязнения, при этом линзы и оправа не повреждаются.</p>
          <p>Ультразвуковая чистка не займет много вашего времени, всего 5-10 минут.</p>
        </div>
        <div class="home-offer__text home-offer__text--lg">
          <p>Обратите внимание, что чистка не избавит ваши очки от имеющихся царапин или повреждений!</p>
          <p>Ультразвуковая чистка очков подходит только для металлических оправ.</p>
        </div>
      </div>
    </div>
  </div>
</section>
