<div class="home-hero">
  <div class="home-hero__content container">
    <h2 class="home-hero__title">Самая <br> заботливая <br> оптика</h2>
    <div class="home-hero__bg">
      <div class="home-hero__bg-content">
        <video id="js-hero-video" muted autoplay loop playsinline>
          <source type="video/mp4" src="../assets/videos/hero/01.mp4">
        </video>
      </div>
    </div>
  </div>
</div>
