<section class="home-usefully section">
  <div class="container">
    <h2 class="section__title">Это может <br> быть полезно</h2>
  </div>
  <div class="home-usefully__content">
    <div class="tabs-usefully js-tabs">
      <div class="tabs-usefully__controls">
        <div class="tabs-usefully__controls-rails">
          <button class="tabs-usefully__control js-tabs__control active" data-target=".tab-1">Как надевать МКЛ?</button>
          <button class="tabs-usefully__control js-tabs__control" data-target=".tab-2">Как пользоваться очками?</button>
          <button class="tabs-usefully__control js-tabs__control" data-target=".tab-3">Как подобрать очки?</button>
        </div>
      </div>
      <div class="tabs-usefully__contents">
        <div class="tabs-usefully__content js-tabs__content tab-1 active">
          <div class="tabs-usefully__content-container tabs-usefully__content-container--video">
            <h3 class="tabs-usefully__content-title">Подробный ролик о том, как правильно <br> надевать контактные линзы
            </h3>
            <div class="tabs-usefully__content-video">
              video
            </div>
          </div>
        </div>
        <div class="tabs-usefully__content js-tabs__content tab-2">
          <div class="tabs-usefully__content-container">
            <h3 class="tabs-usefully__content-title">Правила эксплуатации очков</h3>
            <div class="tabs-usefully__content-img">
              <img src="../assets/images/home/slider/01.jpg" alt="Alt">
            </div>
            <div class="tabs-usefully__content-text">
              <ul>
                <li>Храните очки в жестком футляре</li>
                <li>Во избежание деформации оправы снимайте и надевайте очки только двумя руками</li>
                <li>Протирайте очковые линзы специальной салфеткой из микрофибры, а при сильном загрязнении промывайте
                  раствором мыла или неагрессивного моющего средства в воде при температуре не выше +40° С.
                </li>
                <li>Регулярно (один раз в месяц) проверяйте затяжку винтов</li>
                <li>Не пользуйтесь очками в помещениях с температурой выше +60° С, в том числе в бане и сауне</li>
                <li>Не храните очки рядом с нагревательными приборами на передней панели автомобиля в солнечный день
                </li>
                <li>Не кладите очки линзами на твердую поверхность</li>
                <li>
                  Не используйте органические растворители для протирки очков (ацетон),
                  а также исключите попадание лака для волос и других химических средств на линзы
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tabs-usefully__content js-tabs__content tab-3">
          <div class="tabs-usefully__content-container">
            <h3 class="tabs-usefully__content-title">
              Удачно подобранная форма очков может подчеркнуть достоинства лица, отвлекает
              от недостатков и придает образу характер.
            </h3>
            <div class="tabs-usefully__content-img">
              <img src="../assets/images/home/slider/01.jpg" alt="Alt">
            </div>
            <div class="tabs-usefully__content-text">
              <p><b>Итак, какие же очки подходят под определенный тип лица?</b></p>
              <p>
                <b>Овал</b> - универсальный тип лица - выбирайте исходя из своих вкусовых предпочтений, подойдет
                практически любая!
              </p>
              <p>
                <b>Круг</b> - чтобы уравновесить круглый тип лица, выбирайте оправы с углами - трапециевидные,
                прямоугольные.
                Избегайте слишком узкие и маленькие оправы. Скругленные углы придадут образу нежности.
              </p>
              <p>
                <b>Треугольник</b> - для придания мягкости нейтрализуем остроту подбородка очками круглых форм и
                пастельных оттенков.
                Дерзкому образу подойдут резко очерченные формы контрастного цвета.
              </p>
              <p>
                <b>Квадрат</b> - такому типу лица подойдет много вариантов.
                Для натурального и нежного образа - скругленные оправы.
                Чтобы усилить образ решительного и волевого человека- выбирайте формы с углами.
              </p>
              <p>
                <b>Ромб</b> - чтобы уравновесить этот тип лица очки должны быть такой же ширины, что и наиболее
                выдающаяся его часть - скулы.
              </p>
              <p>
                <b>Безободковая оправа</b> - форма очков, при выборе которой практически нельзя ошибиться.
                Не выделяется на лице, минимально влияет на образ, придавая легкую утонченность.
              </p>

              <p>
                <b>Запомните, нет четких правил, есть лишь Ваша индивидуальность!</b>
              </p>

              <p>
                Какую бы оправу Вы не выбрали, ориентируясь на свои внутренние ощущения - какой образ придает Вам
                энергии и сил, какую черту Вы хотите подчеркнуть - силу или нежность, экстравагантность или
                лаконичность.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
