<div class="home-hero">
  <div class="home-hero__content container">
    <h2 class="home-hero__title">Самая <br> заботливая <br> оптика</h2>
    <div class="home-hero__bg">
      <div class="home-hero__bg-content">
        <video src="../assets/videos/hero/01.mp4" muted autoplay loop></video>
      </div>
    </div>
  </div>
</div>
