<section class="home-about section">
  <div class="container">
    <div class="home-about__container">
      <div class="home-about__content">
        <div class="home-about__circle">
          <img src="../assets/images/home/about/circle.svg" alt="About">
        </div>
        <h2 class="section__title">ГлавОптика — мы молоды и современны! </h2>
        <div class="home-about__text">
          <p>
            А ещё мы амбициозная компания, основанная в 2021г. <br/>
            Опыт наших управленцев в оптовом и розничном оптическом бизнесе огромен. И это позволило нам собрать в
            ГлавОптике лучшее. Вы получите качественные офтальмологические услуги и сможете приобрести сертифицированные
            товары.
          </p>
          <p>Наша миссия — ваше зрения. <br> Пусть СОВРЕМЕННЫЕ ТЕХНОЛОГИИ в оптике будут ДОСТУПНЫ для каждого пользователя очков.</p>
          <p>
            Вы будете видеть мир во всех красках! Комфорт и удобство в ношении, радость от покупки, удовольствие в
            каждом дне — вот наша цель!
          </p>
        </div>
      </div>
      <div class="home-about__img">
        <img src="../assets/images/home/about/about-01.jpg" alt="About">
      </div>
    </div>
  </div>
</section>
