<section class="home-guarantee section">
  <div class="container">
    <h2 class="section__title">Гарантия и сервис</h2>
    <div class="section__box">
      <div class="container-m">
        <p class="home-guarantee__text home-guarantee__text--lg home-guarantee__text--red">
          Механические повреждения оправы и разбитые очковые линзы, связанные с неправильной эксплуатацией очков,
          не являются гарантийными случаями.
        </p>
        <div class="home-guarantee__columns">
          <div class="home-guarantee__columns-item">
            <p class="home-guarantee__text home-guarantee__text--lg">
              В рамках программы сервисного обслуживания рекомендуется производить:
            </p>
            <ul class="home-guarantee__list">
              <li>Замену носовых упоров - 1 раз в год</li>
              <li>Замену винтов в случае утери</li>
              <li>Замену лески в случае повреждения</li>
              <li>Ультразвуковую чистку металлических оправ при необходимости.</li>
            </ul>
          </div>
          <div class="home-guarantee__columns-item">
            <p class="home-guarantee__text home-guarantee__text--lg">
              Установленные сроки гарантии:
            </p>
            <ul class="home-guarantee__list">
              <li>Гарантия на оправу (заводской брак) - 2 месяца</li>
              <li>Гарантия на соединение линз с оправой - 6 месяцев</li>
              <li>Гарантия на ремонт флекса - 6 месяцев</li>
              <li>Гарантия на сварку (пайку) - 6 месяцев</li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="home-guarantee__line"/>

      <div class="home-guarantee__content-bottom container-m">
        <div class="home-guarantee__text home-guarantee__text--fluid">
          <p>
            Ультразвуковая чистка очков — это высокотехнологичная процедура, которая позволяет очистить оправу от видимых и
            невидимых глазу загрязнений.
          </p>
          <p>Со временем любые очки подвергаются различного рода загрязнениям. Сигаретный дым, пыль, капли дождя, — всё это
            остается на очках. К тому же очки постоянно соприкасаются с кожей лица.
          </p>
          <p>В основном грязь скапливается на носовых упорах и в местах, где линза соединяется с оправой. В результате на
            очках могут появляться не только видимые загрязнения, но и огромное количество болезнетворных микробов.
          </p>
          <p>Во время процедуры вычищаются даже малейшие загрязнения, при этом линзы и оправа не повреждаются.</p>
          <p>Ультразвуковая чистка не займет много вашего времени, всего 5-10 минут.</p>
        </div>
        <div class="home-guarantee__text home-guarantee__text--lg">
          <p>Обратите внимание, что чистка не избавит ваши очки от имеющихся царапин или повреждений!</p>
          <p>Ультразвуковая чистка очков подходит только для металлических оправ.</p>
        </div>
      </div>
    </div>
  </div>
</section>
