<div class="home-hero">
  <div class="home-hero__bg">
    <div class="home-hero__bg-content"></div>
  </div>
  <div class="home-hero__content container">
    <h2 class="home-hero__title">Самая заботливая оптика</h2>
  </div>
</div>
