<section class="home-static section">
  <div class="container">
    <h2 class="section__title">ОФТАЛЬМОЛОГИЧЕСКИЕ УСЛУГИ</h2>

    <div class="section__box home-static">
      <div class="container-m home-static__content">
        <h3 class="h2">ОФТАЛЬМОЛОГИЧЕСКИЕ УСЛУГИ</h3>
        <p>Диагностику зрения может пройти любой желающий в возрасте от 18 лет</p>

        <div class="home-static__columns">
          <div class="home-static__columns-item">

            <h4 class="h3">Этапы</h4>

            <ol class="home-static__list">
              <li>Оценка используемой коррекции</li>
              <li>Анамнез и сбор жалоб</li>
              <li>Выявление мышечного баланса глаз</li>
              <li>Исследование на специальном оборудование авторефрактометре – который показывает физиологические
                данные
              </li>
              <li>
                Подбор оптики с проверкой остроты зрения и специальных тестов, позволяющих выявить характер зрения,
                состояние функции аккомодации и конвергенции
              </li>
            </ol>
          </div>
          <div class="home-static__columns-item">
            <h4 class="h3">Что вы получаете:</h4>
            <ul class="home-static__list">
              <li>Рецепт на очки/контактные линзы – бланк, в котором содержится вся информация о вашем зрении</li>
              <li>Назначение вида очковых линз и дополнительных покрытиях</li>
              <li>Рекомендацию дизайна очковых линз</li>
              <li>Рекомендацию по виду оптимально подходящих вам контактных линз</li>
              <li>Рекомендацию по профилактике сохранения зрения</li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="home-static__divider"/>
      <div class="container-m home-static__content">
        <h3 class="h2">ОПТИЧЕСКИЕ УСЛУГИ</h3>

        <div class="home-static__columns">
          <div class="home-static__columns-item">
            <ul class="home-static__list">
              <li>Изготовление корригирующих очков любой сложности.</li>
              <li>Изготовление прогрессивных очков с применением центровочной системы</li>
              <li>Изготовление корригирующих очков с применением уточненных линз индексом от 1.56 до 1.74</li>
              <li>Изготовление солнцезащитных очков с диоптриями для зрения</li>
              <li>Изготовление прогрессивных очков для детей (при наличии рецепта от детского врача-офтальмолога)</li>
            </ul>
          </div>
          <div class="home-static__columns-item">
            <ul class="home-static__list">
              <li>Изготовление прогрессивных и перифокальных очков</li>
              <li>Ремонт очков</li>
              <li>Ультразвуковая очистка очков</li>
              <li>Выправка оправ и замена расходных материалов</li>
              <li>Возможность изготовления корригирующих очков с оправой клиента</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
