.benefits-grid {
  display: flex;
  @include flex-gap(20px);
  justify-content: space-between;

  @include media(tabletSmall, up) {
    @include flex-gap(20px);
  }

  @include media(tabletSmall) {
    flex-wrap: wrap;
    @include flex-gap(50px);
  }

  &__item {
    padding: 25px 25px 50px;
    color: $color-white;
    background-color: $color-primary-red;

    @include media(tabletSmall, up) {
      flex: 0 1 270px;
      border-radius: 135px 135px 0 0;
    }

    @include media(tabletSmall) {
      flex: 1 1 100%;
    }

    > * {
      color: $color-white;
    }
  }

  &__icon {
    position: relative;

    @include media(tabletSmall, up) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
    }

    + * {
      margin-top: 25px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
  }

  &__text {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }
}
