.hamburger {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: .5rem;
  font: inherit;
  color: inherit;
  background-color: transparent;
  overflow: visible;
  cursor: pointer;
  @include btn-clear;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;

  @include media(tabletSmall) {
    padding: .25rem;
  }

  &.is-active:hover,
  &:hover {
    opacity: .7
  }

  &.is-active {
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: black
    }
  }
}


.hamburger-box {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px;

  @include media(tabletSmall) {
    height: 15px;
    width: 24px;
  }
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 100%;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: black;

  @include media(tabletSmall) {
    height: 2px;
  }
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: ""
}

.hamburger-inner:before {
  top: -10px;

  @include media(tabletSmall) {
    top: -5px;
  }
}

.hamburger-inner:after {
  bottom: -10px;

  @include media(tabletSmall) {
    bottom: -5px;
  }
}

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .22s
}

.hamburger--spin .hamburger-inner:before {
  transition: top .1s ease-in .25s, opacity .1s ease-in
}

.hamburger--spin .hamburger-inner:after {
  transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(225deg)
}

.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out, opacity .1s ease-out .12s;
  opacity: 0
}

.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
  transform: rotate(-90deg)
}

.hamburger--spin-r .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .22s
}

.hamburger--spin-r .hamburger-inner:before {
  transition: top .1s ease-in .25s, opacity .1s ease-in
}

.hamburger--spin-r .hamburger-inner:after {
  transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spin-r.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(-225deg)
}

.hamburger--spin-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out, opacity .1s ease-out .12s;
  opacity: 0
}

.hamburger--spin-r.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
  transform: rotate(90deg)
}
