@use "sass:math";

.home-slide {
  position: relative;

  @include media(tabletSmall, up) {
    display: flex;
    align-items: center;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(118, 157, 132, 0.3);
  }

  &__container {
    width: 100%;
    background-color: $color-white;

    @include media(tabletSmall, up) {
      height: 100%;
      max-width: 50vw;
      min-height: 67vh;
      padding: 13.5vh 5.1vw 7.25vh 8.85vw;
      border-radius: 0 375px 375px 0;
    }

    @include media(tablet, only) {
      min-height: 370px;
      padding: 70px 50px 40px 90px;
    }

    @include media(tabletSmall) {
      min-height: auto;
      padding: 15px 20px 60px;
    }
  }

  &__content {
    max-width: 505px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;

    @include media(tablet) {
      font-size: 14px;
      line-height: 19px;
    }

    > * {
      margin: 0;
    }

    > * + * {
      margin-top: 15px;
    }

    ul {
      color: $text-gray;

      > * + * {
        margin-top: 0;
      }
    }

    li {
      position: relative;
      padding-left: .75em;

      &::before {
        content: '-';
        position: absolute;
        top: .5em;
        left: 0;
        transform: translateY(-50%);
        display: inline-block;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    color: $text-gray;

    @include media(mobile) {
      font-size: 14px;
      line-height: 19px;
    }

    span {
      display: block;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 1.1;
      color: $text-black;

      @include media(tablet, only) {
        font-size: 35px;
      }

      @include media(mobile) {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 15px;
      }
    }
  }

  &__bg {
    display: flex;

    @include media(tabletSmall, up) {
      @include fill;
      z-index: -1;
    }

    @include media(tabletSmall) {
      position: relative;
    }

    &::before {
      @include media(tabletSmall) {
        content: '';
        display: block;
        padding-top: math.div(152,375) * 100%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;

      @include media(tabletSmall) {
        object-position: center;
        @include fill;
      }
    }
  }
}
