.home-static {
  &__content {
    @include media(tabletSmall) {
      padding: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__notes {
    font-weight: bold;
    max-width: 420px;
  }

  &__columns {
    margin-top: 30px;

    @include media(tabletSmall, up) {
      display: flex;
      justify-content: space-between;
      @include flex-gap(70px);
    }

    > * {
      flex: 0  1 420px;
    }

    > * + * {
      @include media(tabletSmall) {
        margin-top: 30px;
      }
    }
  }

  &__columns-item {
    //> * + * {
    //  margin-top: 30px;
    //}
    //
    //&--offset-sm {
    //  > * + * {
    //    margin-top: 15px;
    //  }
    //}
  }

  &__divider {
    display: block;
    margin: 50px 0;
    border: 1px solid #C4C4C4;

    @include media(tablet) {
      margin: 40px 0;
    }
  }
}
