@use "sass:math";

.home-slide {
  position: relative;

  @include media(tabletSmall, up) {
    display: flex;
    align-items: center;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(118, 157, 132, 0.3);
  }

  &__container {
    width: 100%;

    background-color: $color-white;

    @include media(tabletSmall, up) {
      height: 100%;
      max-width: 60vw;
      min-height: 69.5vh;
      padding-top: 9.25vh;
      padding-left: 7.2vw;
      padding-bottom: 9.25vh;
      border-radius: 0 375px 375px 0;
    }

    @include media(tabletSmall) {
      padding: 15px 20px 60px;
    }
  }

  &__content {
    max-width: 505px;

    ul {
      margin-top: 30px;
      color: $text-gray;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;

      @include media(tablet, only) {
        margin-top: 25px;
        font-size: 18px;
        line-height: 1.4;
      }

      @include media(tabletSmall) {
        margin-top: 19px;
        font-size: 14px;
        line-height: 19px;
      }

      > * + * {
        margin-top: 25px;

        @include media(tabletSmall) {
          margin-top: 19px;
        }
      }
    }

    li {
      position: relative;
      padding-left: 2rem;

      &::before {
        content: '';
        position: absolute;
        top: .5em;
        left: .75em;
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $text-gray;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: $text-gray;

    @include media(tablet, only) {
      font-size: 24px;
      line-height: 1.1;
    }

    @include media(tabletSmall) {
      font-size: 14px;
      line-height: 19px;
    }

    span {
      display: block;
      margin-bottom: 50px;
      font-style: normal;
      font-weight: bold;
      font-size: 100px;
      line-height: 105px;
      color: $text-black;

      @include media(tablet, only) {
        margin-bottom: 30px;
        font-size: 70px;
        line-height: 1;
      }

      @include media(tabletSmall) {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 15px;
      }
    }
  }

  &__bg {
    display: flex;

    @include media(tabletSmall, up) {
      @include fill;
      z-index: -1;
    }

    @include media(tabletSmall) {
      position: relative;
    }

    &::before {
      @include media(tabletSmall) {
        content: '';
        display: block;
        padding-top: math.div(152,375) * 100%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;

      @include media(tabletSmall) {
        object-position: center;
        @include fill;
      }
    }
  }
}
