@use "sass:math";

.home-about {
  overflow: hidden;

  @include media(tabletSmall, up) {
    //padding-top: clamp(180px, 10vh, 320px);
    padding-top: 210px;
  }

  @include media(tabletSmall) {
    padding-top: 120px;
  }

  &__container {
    position: relative;
    display: flex;
    //align-items: center;
    justify-content: space-between;

    @include media(tabletSmall) {
      flex-wrap: wrap;
    }
  }

  &__content {
    flex: 0 1 515px;

    @include media(tabletSmall) {
      flex-basis: 100%;
      margin-top: 50px;
    }
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translate3d(50%, -50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: min(25vw, 320px);

    @include media(tabletSmall) {
      max-width: min(50vw, 400px);
    }

    img {
      width: 100%;
      height: 100%;
      transition: transform 1s linear;
      animation: rotateCircle 30s forwards linear infinite;
    }
  }

  &__text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    @include media(tablet, only) {
      font-size: 18px;
      line-height: 1.5;
    }

    @include media(tabletSmall) {
      margin-top: 30px;
      @include font-m-14;
    }

    > * + * {
      margin-top: 15px;

      //@include media(tabletSmall) {
      //  margin-top: 19px;
      //}
    }
  }

  &__img {
    position: relative;
    flex: 0 1 535px;
    display: flex;

    @include media(tabletSmall, up) {
      margin-left: 5vw;
    }

    @include media(tabletSmall) {
      flex-basis: 100%;
      order: -1;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: math.div(460,535) * 100%;

      @include media(tabletSmall) {
        padding-top: 56%;
      }
    }

    img {
      @include fill;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes rotateCircle {
  to {
    transform: rotate(360deg);
  }
}
