@use "sass:math";

.home-about {
  overflow: hidden;

  @include media(mobile, up) {
    padding-top: 320px;
  }

  @include media(mobile) {
    padding-top: 120px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(mobile) {
      flex-wrap: wrap;
    }
  }

  &__content {
    flex: 0 1 650px;

    @include media(mobile) {
      margin-top: 50px;
    }
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translate3d(50%, -50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: min(25vw, 480px);

    @include media(mobile) {
      max-width: min(50vw, 400px);
    }

    img {
      width: 100%;
      height: 100%;
      transition: transform 1s linear;
      animation: rotateCircle 30s forwards linear infinite;
    }
  }

  &__text {
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    @include media(mobile) {
      margin-top: 30px;
      @include font-m-14;
    }

    > * + * {
      margin-top: 30px;

      @include media(mobile) {
        margin-top: 19px;
      }
    }
  }

  &__img {
    position: relative;
    flex: 0 1 660px;
    display: flex;

    @include media(mobile, up) {
      margin-left: 5vw;
    }

    @include media(mobile) {
      order: -1;
    }

    &::before {
      content: '';
      display: block;
      padding-top: math.div(245,335) * 100%;
    }

    img {
      @include fill;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes rotateCircle {
  to {
    transform: rotate(360deg);
  }
}
