@use "sass:math";


.home-hero {
  position: relative;
  min-height: 500px;

  @include media(tabletSmall, up) {
    height: clamp(450px, calc(100vh - 50px), 520px);
  }

  @include media(tablet, up) {
    height: clamp(500px, calc(100vh - 50px), 690px);
  }

  @include media(mobile) {
    min-height: 600px;
  }

  &__bg {
    @include media(mobile, up) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include media(mobile) {
      margin-top: 50px;
    }
  }

  &__bg-content {
    position: relative;
    height: 100%;
    background: #C4C4C4;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
    aspect-ratio: 665 / 690;

    @supports not (aspect-ratio: 1 / 1) {
      width: math.div(665,1360) * 100vw;
    }

    //@include media(tabletSmall, up) {
    //  width: 49vw;
    //}

    @include media(mobile) {
      &:before {
        content: '';
        display: block;
        padding-top: 104%;
      }
    }

    img, video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-top: 17vh;
    padding-bottom: 17vh;

    @include media(tabletSmall) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include media(mobile) {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  &__title {
    //max-width: 31vw;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 1.1;
    color: $text-black;

    @include media(tablet) {
      font-size: 50px;
      line-height: 1.1;
      max-width: 50vw;
    }

    @include media(mobile) {
      font-size: clamp(32px, 10vw, 100px);
    }

    @include media(sm, down, true) {
      font-size: clamp(30px, 4vw, 70px);
      line-height: 1.1;
    }
  }
}
