.home-about {
  padding-top: 320px;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex: 0 1 650px;
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translate3d(50%, -50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: min(25vw, 480px);

    img {
      width: 100%;
      height: 100%;
      transition: transform 1s linear;
      animation: rotateCircle 30s forwards linear infinite;
    }
  }

  &__text {
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    > * + * {
      margin-top: 30px;
    }
  }

  &__img {
    flex: 0 1 660px;
    display: flex;
    margin-left: 5vw;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@keyframes rotateCircle {
  to {
    transform: rotate(360deg);
  }
}
