.menu-item {
  &__link {
    display: block;
    padding: 1rem 2rem;
    @include font-20;
    font-weight: 500;
    line-height: 1;
    @include primary-link-hover;

    @include media(tabletSmall) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
