.menu-item {
  &__link {
    display: block;
    min-width: 300px;
    padding: 1rem 2rem;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    @include primary-link-hover;

    @include media(tabletSmall) {
      font-size: 16px;
      line-height: 21px;
    }
  }
}
