.sidebar-nav {
  transition: all 350ms ease;

  &__container {
    @include media(tabletSmall, up) {
      padding: 12px 30px;
      border: 2px solid $text-gray;
      border-radius: 15px;
    }

    @include media(tabletSmall) {
      display: flex;
      margin: 0 -20px;
      border-radius: unset;
      border-top: 2px solid $text-gray;
      border-bottom: 2px solid $text-gray;
      overflow: auto;
      //@include hide-scrollbar;
    }

    @include media(tabletSmall) {
      margin: 0 -15px;
    }
  }

  &__content {
    @include media(tabletSmall) {
      flex: 1 0 100%;
      padding: 0 10px;
    }

    @include media(tabletSmall) {
      padding: 0 5px;
    }
  }

  &__list {
    @include media(tabletSmall) {
      //flex: 1 0 100%;
      display: flex;
      width: 100%;
    }

    a {
      display: block;
      padding: 20px 15px;
      margin: 0;
      color: $text-gray;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      transition: all 350ms ease;
      background-color: rgba($color-primary-red, 0);

      @include media(tabletSmall) {
        padding: 20px 10px;
        white-space: nowrap;
      }

      @include media(tabletSmall) {
        padding: 15px 10px;
      }

      &:hover {
        color: $color-primary-red;
      }

      &.active {
        color: $color-white;
        background-color: $color-primary-red;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: z(header);
    backdrop-filter: blur(100px);
    transform: translateY(-100%);
    background: transparentize($color-white, .2);
    border-bottom: 1px solid $text-gray;
    transition: transform .5s;

    &.visible {
      transform: translateY(0);
    }

    .sidebar-nav__container {
      margin: 0 -10px;

      @include media(tabletSmall) {
        margin: 0 -5px;
      }
    }

    .sidebar-nav__list {
      padding: 0 10px;

      @include media(tabletSmall) {
        padding: 0 5px;
      }
    }
  }
}
