.static {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  @include media(tablet, only) {
    //font-size: 18px;
    //line-height: 1.4;
  }

  @include media(tabletSmall) {
    //font-size: 14px;
    //line-height: 19px;
  }

  > * {
    margin-bottom: 0;
  }

  > * + * {
    margin-top: 25px;

    @include media(tabletSmall) {
      margin-top: 15px;
    }
  }

  ol {
    counter-reset: list;
    color: $text-gray;

    li {
      position: relative;
      padding-left: 13px + 25px;

      @include media(mobile) {
        padding-left: 13px + 20px;
      }

      &::before {
        position: absolute;
        top: .5em;
        left: 0;
        counter-increment: list;
        content: counter(list);
        display: inline-flex;
        justify-content: center;
        //align-items: center;
        padding: 4px 9px 6px;
        width: 25px;
        height: 25px;
        color: $color-white;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        background-color: $color-primary-red;
        border-radius: 50%;
        transform: translateY(-50%);

        @include media(tablet, only) {
          font-size: 18px;
        }

        @include media(mobile) {
          top: .65em;
          width: 20px;
          height: 20px;
          padding: 1px 6px 3px;
          font-size: 14px;
          line-height: 1;
        }
      }
    }
  }

  ul {
    color: $text-gray;
    max-width: 760px;

    li {
      position: relative;
      padding-left: 20px;

      &::before {
        position: absolute;
        top: .5em;
        left: 0;
        content: '';
        width: 7px;
        height: 7px;
        background-color: $color-primary-red;
        border-radius: 50%;

        //@include media(tabletSmall) {
        //  top: .35em
        //}
      }
    }
  }


  ul, ol {
    > * + * {
      margin-top: 15px;
    }
  }

  h3, h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: $text-gray;

    @include media(tabletSmall) {
      font-size: 14px;
      line-height: 19px;
    }

    + * {
      margin-top: 25px;

      @include media(tabletSmall) {
        margin-top: 15px;
      }
    }
  }

  p + ul {
    margin-top: 15px;
  }


  &--offset-sm {
    > * + * {
      margin-top: 15px;
    }
  }
}
