@use "sass:math";

.tabs-products {
  &__controls {
    overflow: auto;
  }

  &__controls-rails {
    @extend .container;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include media(tabletSmall) {
      padding: 0;
    }

    &::after,
    &::before {
      @include media(tabletSmall, up) {
        flex: 0 0 min(7vw, 125px);
        content: '';
        display: block;
        height: 1px;
        width: min(7vw, 125px);
      }
    }
  }

  &__control {
    @include btn-clear;
    padding: 20px 55px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $text-black;
    cursor: pointer;
    border: 2px solid #f7f7f7;
    white-space: nowrap;

    @include media(tabletSmall) {
      padding: 20px 35px;
      font-size: 14px;
      line-height: 19px;
    }

    &:hover {
      background-color: $color-theme-white;
      border-color: $color-theme-white;
    }

    &.active {
      background-color: $color-theme-white;
      border-color: $color-theme-white;
    }

    &:not(:last-child) {
      border-right: 0;
    }
  }

  &__contents {
    position: relative;
    padding: 60px 0 50px;
    background-color: $color-theme-white;

    @include media(tabletSmall) {
      padding: 30px 0;
    }
  }

  &__section {
    max-width: 1260px;
  }

  &__section-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.25;

    @include media(tablet, only) {
      font-size: 18px;
      line-height: 1.1;
    }

    @include media(tabletSmall) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__section-container {
    display: grid;
    grid-gap: 25px;
    margin-top: 30px;

    @include media(tabletSmall) {
      margin-top: 20px;
    }

    > .static {
      max-width: 510px;
    }

    &--2-columns {
      @include media(tabletSmall, up) {
        grid-template-columns: repeat(2, minmax(auto, 440px));
        justify-content: space-between;
      }
    }
  }

  &__content {
    @include media(mobile, up) {
      display: flex;
      @include container;
      padding-right: calc(15px + 230px - (100vw - 1160px) / 2);
    }

    @include media(tablet, only) {
      padding-right: calc(10px + 200px - (100vw - 880px) / 2);
    }

    //  margin: 0 calc(-1 * (100vw - 880px) / 2) 0 calc((100vw - 880px) / 2);

    //@include media(tablet) {
    //  @include container;
    //  margin: 0 calc(-1 * (100vw - 880px) / 2) 0 calc((100vw - 880px) / 2);
    //}
  }

  &__content-container {
    flex: 0 1 975px;

    @include media(mobile) {
      @include container;
    }

    > * + * {
      margin-top: 50px;

      @include media(tabletSmall) {
        margin-top: 30px;
      }
    }
  }

  &__content-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 230px;
    align-self: start;

    @include media(tablet) {
      max-width: 200px;
    }

    @include media(tabletSmall) {
      display: none;
    }
  }
}
