@mixin base-link-hover($c: $text-black) {
  color: $c;

  &:hover {
    color: rgba($c, .5);
  }
}

@mixin primary-link-hover($c: $text-black, $hover: $color-primary-red) {
  color: $c;

  &:hover {
    color: $hover;
  }
}

@mixin text-center {
  text-align: center;
}

@mixin font-14 {
  font-size: .875rem;
}

@mixin font-16 {
  font-size: 1rem;
}

@mixin font-20 {
  font-size: 1.25rem;
}

@mixin btn-clear {
  background: none;
  border: none;
}

@mixin btn-base {
  cursor: pointer;
}
